<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="championComponent.html">


<dom-module id="champion-list">
    <style>
        :host {
            display: inline-block;
            width: 400px;
            vertical-align: top;
        }

        paper-card {
            width: 100%;
        }     

        div {
            font-family: 'Roboto', sans-serif;
            font-size: 50px;
        }

        .iron-selected {
            
            border-color: #505252;
        }

        champion-component {
            margin: 5px;
            border-style: solid;
            border-radius: 40px;
            border-width: 4px;
            border-color: white;
        }
    </style>
    <template>
        <paper-card class="champion-list" heading="Champions">
            <iron-selector  attr-for-selected="championname"
                            selected="{{index}}">
                <template is="dom-repeat"
                    items="{{filteredChampions}}">
                    <champion-component championName="{{item}}" championIcon="{{getIcon(item)}}">
                </template>
            </iron-selector>
        </paper-card>
        <iron-ajax
            auto
            url="../data/results/champion_info.json"
            handle-as="json"
            on-response="handleResponse"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'champion-list',
            properties: {
                index: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true,
                    observer: "indexChanged"
                }  
            },
            
            indexChanged: function(n, o) {
                console.log("change", n, o);
            },

            ready: function() {

            },

            handleResponse: function(e, request) {
                this.championOrder = request.response.order;
                this.championInfo = request.response.art;
                this.filteredChampions = this.championOrder;
            },

            getIcon: function(championName) {
                return this.championInfo[championName].icon_url;
            }
        });
    </script>
</dom-module>