<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">


<dom-module id="champion-component">
    <style>
        :host {
            display: inline-block;
            width: 60px;
            height: 60px;
        }

        iron-image {
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }
    </style>
    <template>
        <iron-image 
            src="{{championicon}}" preload fade sizing="cover"></iron-image>
    </template>
    <script>
        Polymer({
            is: 'champion-component',
            properties: {
                championIcon: {
                    type: String,
                    value: "http://ddragon.leagueoflegends.com/cdn/5.7.1/img/champion/Draven.png"
                }                
            },

            onIconClick: function() {
                console.log("helo");
            }
        });
    </script>
</dom-module>
